body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0 1em;
  box-sizing: border-box;
}

a {
  color: #208fdf;
  text-decoration: none;
  font-size: 2em;
  font-family: consolas;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

a:hover {
  text-decoration: underline;
}