:root {
  --dark-gray: #2c2c2c;
  --light-gray: #ececec;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 100vh;
}

header,
footer {
  height: 50px;
  width: 100vw;
  background: var(--dark-gray);
}

nav,
aside {
  width: 200px;
  height: calc(100vh - 100px);
  background: var(--light-gray);
}

main {
  width: calc(100vw - 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-width: 400px; */
}

canvas {
  background: lightblue;
  margin: 0 auto;
  width: min(100vw - 400px, 100vh - 100px);
  height: min(100vw - 400px, 100vh - 100px);
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }

  canvas {
    width: 100vw;
    height: 100vw;
  }

  nav {
    height: 50px;
    width: 100vw;
  }

  aside {
    height: auto;
    min-height: max(50px, 100vh - 150px - 100vw);
    width: 100vw;
  }

  main {
    min-height: 100%;
  }

  body {
    overflow-y: scroll;
  }
}
