body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    margin: 0 auto;
    background: #eee;
    width: calc(4vw * 16);
    height: calc(4vw * 9);
}

.counter {
    text-align: center;
    font-size: 3em;
    font-family: Arial;
}